<h1> Welcome to Bookable! </h1>
<br />
<h2> <%= link_to "Browse Books", books_path %> </h2>
<br />
<h2> <%= link_to "Browse Authors", authors_path %> </h2>
<br />
<h2> <%= link_to "Browse Genres", genres_path %> </h2>
