<h1> Reviews for <%= @book.title %> </h1>

<ul>
  <% @reviews.each do |review| %>
    <li> <%= review.user.username%> wrote: "<%= review.content %>" </li>
  <% end %>
</ul>

<br />
<br />
<%= button_to "Add Review", new_book_review_path(@book, @review), :method => :get %>
