<h2> Add a review for <%= @book.title %>: </h2>
<br />
<p> <strong> Note: </strong> This will also add <%= @book.title %> to your profile under "Books I Have Read" if it's not already there (because how else could you review it?!) </p>
<br />
<%= render partial: "review_form", locals: {review: @review, book: @book} %>

<br />

<%= render partial: "layouts/errors", locals: {object: @review} %>
